{% extends 'app/base.html' %}
{% load static %}
{% block contenido %}




<h2>Productos</h2>
<div class="productos">
    {% for un_producto in primeros_productos%}

    <div class="producto">
        <div class="contenedor_producto">
            {% if un_producto.imagen %}
            <img src="{{un_producto.imagen.url}}" alt="imagen producto" class="card-img-top">
            {% endif %}
            <div class="detalle" style="text-align: center;">
                <h5> {{un_producto.titulo}}</h5>
                <h2>{{un_producto.descripcion}}</h2>
                <h3>{{un_producto.precio}} </h3>
                <div class="card-footer text=center">
                    <a href="/{{ un_producto.id }}" class="btn btn-warning"> Ver </a>
                </div>
                <div class="card-footer text=center">
                    <a href="/{{ un_producto.id }}" class="btn btn-warning"> Agregar al carrito </a>
                </div>
            </div>
        
        </div>

    </div>
    {% endfor %}
    </div>
    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col"> Categoria </th>
            <th scope="col"> Producto </th>
            <th scope="col"> Precio</th>

        </tr>
        {% for p in segundos_productos %}
            <tr>
                <td>
                    {{ p.categoria}} 
                </td>
                <td>
                    {{p.titulo}}
                </td>
                <td> {{p.precio}} </td>
            </tr>
        </tbody>
        {% endfor %}
        </thead>
    </table>
    

{% endblock %}
